<!-- start: Content -->
<div id="content" class="col-lg-12">
	<div class="row">
		<div class="col-sm-12">
			<ol class="breadcrumb">
				<li><a href="">Bitcoin Agents</a></li>
				<li class="active">Enable Two Factor Authentication</li>
			</ol>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header">
									<h2><i class="fa fa-check"></i><%= I18n.t('authy_verify_installation_title', {:scope => 'devise'}) %></h2>
								</div>
								<div class="box-content no-padding">
									<%= flash[:notice] %>
									<%= verify_authy_installation_form do %>
									<%= label_tag :token %>
									<%= text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token' %>
									<%= authy_request_sms_link %>
									<%= submit_tag I18n.t('enable_my_account', {:scope => 'devise'}), :class => 'btn btn-primary' %>
									<% end %>									
								</div>
							</div>
						</div><!--/col-->
					</div><!--/row-->	
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/row-->		
	</div><!--/col-->	
</div><!--/row-->				
</div>
<!-- end: Content -->

</div><!--/row-->		

</div><!--/container-->
