 <!-- start: Content -->
 <div id="content" class="col-lg-10 col-sm-11 ">
 	<ol class="breadcrumb">
 		<li><a href="">Bitcoin Agents</a></li>
 		<li class="active">Account Settings</li>
 	</ol>
 	<div class="row profile">

 		<div class="col-sm-12">
 			<ul class="nav nav-tabs" id="myTab">
 				<li class="active"><a href="user#account">Account Information</a></li>
 				<li><a href="user#addresses">Addresses</a></li>
 				<li><a href="user#notifications">Notifications</a></li>
 			</ul>
 			<div class="tab-content">
 				<div class="tab-pane active" id="account">
 					<div class="row">	
 						<div class="col-lg-6">
 							<div class="box">
 								<div class="box-header">
 									<h2><i class="fa fa-user"></i>Account Settings</h2>
 								</div>
 								<div class="box-content">

 									<form class="form-horizontal">
 										<div class="form-group">
 											<label class="control-label" for="focusedInput">Username</label>
 											<div class="controls">
 												<input class="form-control focused" id="focusedInput" type="text" placeholder="Username" value="<%= current_user.username if current_user.username %>">
 											</div>
 										</div>
 										<div class="form-group">
 											<label class="control-label" for="focusedInput">Email</label>
 											<div class="controls">
 												<input class="form-control focused" id="focusedInput" type="text" placeholder="" value="<%= current_user.email %>">
 											</div>
 										</div>
 										
 										<div class="form-group">
 											<label class="control-label" for="selectError3">Select Your Currency</label>
 											<div class="controls">
 												<select id="selectError3" class="form-control">
 													<option>USD | United States Dollar </option>
 													<option>EUR | Euro </option>
 													<option>CAD | Canadian Dollar </option>
 													<option>BRL | Brazilian Real </option>
 													<option>AUD | Australian Dollar </option>
 													<option>ILS | Israeli Shekel </option>
 													<option>NZD | New Zealand Dollar </option>
 													<option>QAR | Qatar Rial </option>
 													<option>HKD | Hong Kong Dollar </option>
 													<option>ZAR | South African Rand </option>
 													<option>AED | UAE Dirham </option>
 													<option>JPY | Japanese Yen </option>
 												</select>
 											</div>
 										</div>
 										<div class="form-actions clearfix">
 											<button type="submit" class="btn btn-primary pull-right">Save Changes</button>
 										</div>
 									</form>
 								</div>
 							</div>
 						</div><!--/col-->
 						<div class="col-lg-6">
 							<div class="box">
 								<div class="box-header">
 									<h2><i class="fa fa-lock"></i>Verified Settings</h2>
 								</div>
 								<div class="box-content">

		 							
		 							<ul class="profile-details">
		 								<% if !current_user.authy_enabled %>
				 						<li>
				 							<div><i class="fa fa-phone"></i> Phone Numbers</div>
				 							<p>Adding a phone enables two-factor authentication on your account</p>
				 							<%= link_to(user_enable_authy_path, :class => "btn btn-primary") do %>
				 								<i class="fa fa-plus"></i> Verify a phone
				 							<% end %>
				 						</li>
				 						<% else %>
				 						<li>
				 							<div><i class="fa fa-tablet"></i> mobile phone</div>
				 							+48 123 456 789
				 							<br />
				 							<button class="btn btn-xs btn-success">Verified </button>
				 						</li>
				 						<% end %>
				 						<li>
				 							<div><i class="fa fa-envelope"></i> e-mail</div>
				 							<%= current_user.email %>
				 						</li>
				 						<% if current_user.have_address? %>
				 						<li>
				 							<div><i class="fa fa-map-marker"></i> address</div>
				 							<%= current_user.address %><br/>
				 							<%= current_user.city %>, <%= current_user.state %> <%= current_user.zipcode %><br/>
				 							<%= current_user.country.abbr %>
				 						</li>
				 						<% else %>
				 							<li>
				 								<div><i class="fa fa-map-marker"></i> address</div>
				 								<p>You need to add a billing address.</p>
				 								<%= link_to("/dashboard/security", :class => "btn btn-primary") do %>
				 								<i class="fa fa-plus"></i> Add Billing Address
				 							<% end %>
				 							</li>	
				 						<% end %>
				 					</ul>
		 							
 								</div>
 							</div>
 						</div><!--/col-->
 					</div><!--/row -->	
 				</div>
 				<div class="tab-pane" id="addresses">
 					<div class="row">
 						<div class="col-md-3">
							<div class="box">
								<div class="box-header">
									<h2><i class="fa fa-qrcode"></i>QR Code / Request Payment </h2>
								</div>
								<div class="box-content no-padding">
									<%= image_tag qr_code(350, 'some dummy text') %>
								</div>
							</div>
						</div><!--/col-->
						<div class="col-md-4">
							<div class="box">
								<div class="box-header">
									<h2><i class="fa fa-qrcode"></i>Wallet Address </h2>
									<button type="submit" class="btn btn-info pull-right "><i class="fa fa-qrcode" style="bottom:0px;"> </i> Generate New Address</button>
								</div>
								<div class="box-content">
									<p>Something in here</p>								
								</div>
							</div>
						</div><!--/col-->
 					</div>
 				</div>
 				<div class="tab-pane" id="notifications">
 					<div class="row">	
 						<div class="col-lg-4">
 							<div class="box">
 								<div class="box-header">
 									<h2><i class="fa fa-user"></i>Notifications</h2>
 								</div>
 								<div class="box-content">
 									<form class="form-horizontal">
					 					 <div class="form-group">
											<label class="control-label">Email me when:</label>
											<div class="controls">
												  <label class="checkbox inline">
													<input type="checkbox" id="inlineCheckbox1" value="option1"> I send or receive bitcoin
												  </label>
												  <label class="checkbox inline">
													<input type="checkbox" id="inlineCheckbox2" value="option2"> I buy or sell bitcoin
												  </label>
												  <label class="checkbox inline">
													<input type="checkbox" id="inlineCheckbox3" value="option3"> There are recommended actions for my account
												  </label><br/>
												  <div class="form-actions">
													<button type="submit" class="btn btn-primary pull-right ">Save Changes</button>
													<button class="btn">Cancel</button>
												  </div>
											</div>
										</div>	
									</form>	
								</div>
 							</div>
 						</div><!--/col-->
 					</div>
 				</div>
 			</div>
 		</div><!--/col-->	
 	</div><!--/profile-->		
 </div>
 <!-- end: Content -->
</div><!--/row-->		
</div><!--/container-->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="clearfix"></div>
