<div class="container">
	<div class="row">
		<!-- start: Main Menu -->
		<div id="sidebar-left" class="col-lg-2 col-sm-1 ">
			<div class="sidebar-nav nav-collapse collapse navbar-collapse">
				<ul class="nav main-menu">
				
					<li>
						<%= link_to "dashboard", :class => "" do %>
							<i class="fa fa-dashboard"> </i>
							<span class="hidden-sm text">Dashboard</span>
						<% end %>
					</li>
					<li>
						<%= link_to "buybitcoin", :class => "" do %>
						<i class="fa fa-plus"></i>
						<span class="hidden-sm text">Buy BTC</span>
						<% end %>
					</li>
					<li>
						<%= link_to "sellbitcoin", :class => "" do %>
						<i class="fa fa-minus"></i>
						<span class="hidden-sm text">Sell BTC</span>
						<% end %>
					</li>
					<li>
						<%= link_to "orderbook", :class => "" do %>
						<i class="fa fa-briefcase"></i>
						<span class="hidden-sm text">Order Book</span>
						<% end %>
					</li>
					<li>
						<%= link_to "bitcoincharts", :class => "" do %>
						<i class="fa fa-bullhorn"></i>
						<span class="hidden-sm text">Quotes / Charts</span>
						<% end %>
						</li>
					<li>
						<%= link_to "open_orders", :class => "" do %>
						<i class="fa fa-ticket"></i>
						<span class="hidden-sm text">Open Orders</span>
						<% end %>
						</li>
					<li>
						<%= link_to "transaction_login_history", :class => "" do %>
						<i class="fa fa-edit"></i>
						<span class="hidden-sm text">Transactions</span>
						<% end %>
					</li>
					<li>
						<%= link_to "#", :class => "" do %>
						<i class="fa fa-lock"></i>
						<span class="hidden-sm text">Security</span>
						<% end %>
					</li>
					<li>
						<%= link_to user_enable_authy_path, :class => "" do %>
						<i class="fa fa-key"></i>
						<span class="hidden-sm text">Two Factor Auth</span>
						<% end %>
					</li>
					<li>
						<%= link_to "payment_methods", :class => "" do %>
						<i class="fa  fa-credit-card"></i>
						<span class="hidden-sm text">Verify Account</span>
						<% end %>
					</li>
					<li>
						<%= link_to "deposit_money", :class => "" do %>
						<i class="fa fa-money"></i>
						<span class="hidden-sm text">Deposit</span>
						<% end %>
					</li>
					<li>
						<%= link_to "withdrawal_money", :class => "" do %>
						<i class="fa fa-download"></i>
						<span class="hidden-sm text">Withdrawal</span>
						<% end %>
					</li>
				</ul>
			</div>
			<a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
		</div>
			<!-- end: Main Menu -->